.wpbingo-widget--collections-image .collection-item {
  position: relative;
}
.wpbingo-widget--collections-image .collection-item__title {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
}
.wpbingo-widget--collections-image .collection-item__title a {
  position: relative;
}
.wpbingo-widget--collections-image .collection-item__title a:before {
    content: "";
    width: 0;
    bottom: 0;
    height: 1px;
    position: absolute;
    background: var(--theme-color);
    right: 0;
    transition: all .4s ease;
}
.wpbingo-widget--collections-image .collection-item__title:hover a:before {
    width: 100%;
    left: 0;
}
.wpbingo-widget--collections-image .slick-list {
  margin: 0 -10px;
}
.wpbingo-widget--collections-image .slick-slide {
  padding: 0 10px;
}
.wpbingo-widget--collections-image .slick-arrow {
  top: calc(50% - 23px);
  border-radius: 50%;
}
@media (max-width: 1199px) {
  .wpbingo-widget--collections-image .slick-list {
    margin: 0 -7.5px;
  }
  .wpbingo-widget--collections-image .slick-slide {
    padding: 0 7.5px;
  }
}